:root {
    --main-color: #1C1C1C;
    --sub: #DFD7AF;
    --text: #F5F3ED;
    --sub-background: #242424;
    --nextword: #444444;
    --wrong: #AF5F5F;
}

*::selection{
    background-color: var(--sub);
}

.header {
    margin: 40px 0px 0px;
    text-align: center;
    color: var(--sub);
    font-size: 2.5rem;
    font-family: "Playwrite DE Grund", cursive;
}
body{
    background-color: var(--main-color);
}
.mainpage {
    color: var(--text);
    width: 85%;
    height: 20%;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.inputkey {
    width: 100%;
    height: 20%;
}


.correct-char {
  color: var(--text);
  transition: 0.2s ease-in-out;
}

.wrong-char {
  color: var(--wrong);
  transition: 0.2s ease-in-out;
}

.current-char {
  text-decoration: underline;
  color: var(--nextword);
}

.mainpage {
  margin: 20px;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
}

.typing-box {
  /* border: 1px solid #ccc; */
  color: var(--nextword);
  padding: 1rem;
  border-radius: 8px;
  min-height: 120px;
  outline: none;
  white-space: pre-wrap;
  line-height: 1.6;

  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;

  line-height: 1.6;
  font-size: 1.5rem;


}

.reset {
  display: flex;
  justify-content: center;
  transform: translateX(-20px);
}
.result {
    transform: translateY(-30%);
}
.result h1{
    color: var(--sub);
    font-size: 60px;
    margin: 0 0 10px;
}





.getstart {
  cursor: pointer;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 4rem 10rem;
  transition: 0.5s ease-in-out;
  /* background-color: var(--sub); */
}

.getstart:hover {
  text-shadow: 0 0 20px var(--sub);
  font-size: 1.5em;
}


.testtextthai {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-weight: 400;
  color: var(--sub);
  background-color: var(--sub-background);
  position: fixed;
  bottom: 0;
  padding: 20px;
  border-radius: 10px;
}


.option-bar {
  display: flex;
  justify-content: center;
  color: var(--sub);
  font-family: "Roboto Mono", monospace;
  font-size: 0.7rem;
  margin-top: 20px;
}

.nav-option-bar {
  display: flex;
  background-color: var(--sub-background);
  padding: 8px 30px;
  border-radius: 10px;
}
.total-word{
  margin: 0 0.5rem;
  color: var(--nextword);
  cursor: pointer;
}
.total-word-active{
  margin: 0 0.5rem;
  color: var(--sub);
  cursor: pointer;
}
.space-bar {
  margin: 0 20px;
  width: 8px;
  border-radius: 5px;
  background-color: var(--main-color);
}